@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg'); /* Specify the path to your background image */
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  background-position: center center; /* Center the background image */
  font-family: Arial, sans-serif;
  /* ... (other styles) */
}